.register {
  @test-url-pre: '../../image';

  width: 400px;
  margin-left: 20px;
  border: 1px solid #e0e8eb;

  > div {
    margin: 10px;
  }
  input {
    padding: 3px;
    padding-left: 24px;
    width: 356px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #009ceb;
  }

  .register-form {
    &-account {
      input {
        background: url('@{test-url-pre}/account_bg.png') no-repeat left;
      }
    }
    &-password {
      input {
        background: url("@{test-url-pre}/password_bg.png") no-repeat left;
      }
    }

    &-file {
      text-align: center;
      img {
        width: 180px;
        height: 180px;
      }
    }
    &-submit {
      button {
        width: 80px;
        height: 36px;
        border: 0;
        background-color: #0092ef;
        color: #FFFFFF;
      }
    }
  }
}
